.cache
.dotnet
.local
.moc
.mozilla
.npm
.nx
.pki
.quokka
.rustup
.ssh
.th-client
.vscode
.wallaby
.zen
ascii-live
asciicam
bass
code
Downloads
go
songs
yay
.bash_history
.bash_logout
.bashrc
.dmrc
.gscreenshot
.cargo
.bash_profile
.node_repl_history
.tidal-dl.json
.tidal-dl.token.json
.viminfo
.xsession-errors
.xsession-errors.old
install
screenshots

# config
.config/Code
.config/dconf
.config/discord
.config/Electron
.config/go
.config/qBittorrent
.config/MongoDB Compass
.config/yay
.config/vlc
.config/systemd
.config/Slack
.config/Cody-nodejs
.config/tidal-hifi
.config/stripe
.config/pulse
.config/mimeapps.list
.config/obs-studio
.config/cmus/command-history
.config/cmus/cache
.config/cmus/lib.pl
.config/google-chrome
.config/cmus/search-history